.alert {
  position: absolute;
  width: 400px;
  top: 75px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  letter-spacing: 0.05em;

  .alert_text {
    padding: 10px;
  }

  .fade_out {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.alert_info {
  background-color: rgba(#2f80ed, 0.2);
  border-radius: 5px;
  color: var(--blue);
}

.alert_success {
  background-color: rgba(#27ae60, 0.2);
  border-radius: 5px;
  color: var(--green);
}

.alert_error {
  background-color: rgba(#eb5757, 0.2);
  border-radius: 5px;
  color: var(--red);
}
