:root {
  --bg-dark: #fbfbfb;
  --bg-light: white;

  --grey: #e0e0e0;
  --dark-grey: #888888;

  --white: white;
  --black: #333333;

  --accent: #f2c94c;
  --red: #eb5757;
  --green: #27ae60;
  --blue: #2f80ed;
}
